@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    transition: color 300ms ease-in-out, background-color 300ms ease-in-out;
  }

  body {
    @apply bg-white text-gray-900 dark:bg-gray-900 dark:text-gray-100;
    transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
  }

  * {
    transition: border-color 300ms ease-in-out, background-color 300ms ease-in-out, color 300ms ease-in-out;
  }
}

.container {
  width: 100%;
}

@media (min-width: 1400px) {
  .container {
    max-width: 1400px;
  }
}